@use '../abstracts/mixins';

.slider {
  background-color: lightblue;

  &__container {
    background-color: limegreen;
    overflow-x: scroll;
    padding-left: 1rem;
  }
  &__grid {
    background-color: pink;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 1rem;
    grid-auto-flow: column;
  }
  &__item {
    background-color: white;
    width: 300px;
    height: 400px;
  }
}
